.bus-filter{
    /* min-height: 88vh;
    background-image: url("https://images.unsplash.com/photo-1572675339312-3e8b094a544d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    
    padding-top: 10vh;    
    display: flex;
    justify-content: center;
}
